<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mercadosinclusivos">
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".formulario_durazno1"
            android:label="@string/title_activity_formulario_durazno1"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".formulario_haba1"
            android:label="@string/title_activity_formulario_haba1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".formulario_quinua1"
            android:label="@string/title_activity_formulario_quinua1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".formulario_papa2"
            android:label="@string/title_activity_formulario_papa2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".formulario_papa1"
            android:label="@string/title_activity_formulario_papa1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pantalla_Inicial"
            android:label="@string/title_activity_pantalla__inicial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registro_password"
            android:label="@string/title_activity_registro_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registro"
            android:label="@string/title_activity_registro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">

            <!-- android:theme="@style/sin_action_bar" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>